---
import { Image } from "astro:assets";
import Layout from "../../../layouts/talks/embrace-the-patch.astro";

import textileMarket from "../../../assets/talks/embrace-the-patch/textile-market.jpg";
import qrCode from "../../../assets/talks/embrace-the-patch/qr_code.png";
---

<Layout title="Final page & slide">
  <h2 class="sr-only">Final page and slide of the talk</h2>

  <section class="slide --center --cover">
    <div class="slide-content">
      <header>
        <h3 id="title-slide-final">Embrace the Patch</h3>
      </header>

      <figure class="slanted-background !mb-0 !pb-0">
        <blockquote
          cite="https://www.pexels.com/photo/colorful-textile-market-aerial-view-with-vibrant-patterns-33434117/"
        >
          <Image
            src={textileMarket}
            width={textileMarket.width}
            height={textileMarket.height}
            layout="constrained"
            loading="eager"
            alt=""
          />
        </blockquote>
        <figcaption class="sr-only">
          A colorful textile market's aerial view, mimicking the vibrant
          patterns of textile patchwork, by <cite>Rakibul alam khan</cite>.
        </figcaption>
      </figure>

      <Image
        src={qrCode}
        width={qrCode.width}
        height={qrCode.height}
        layout="constrained"
        loading="eager"
        alt="QR code to the first slide"
        class="aspect-square max-w-56 !m-0"
        style="max-width: min(90vw / 16 * 9, calc(var(--spacing) * 56));"
      />
    </div>
  </section>
</Layout>
