---
import { Code } from "astro:components";

type Props = {
  class?: string;
  "single:transition-name"?: string;
  "before:disable-transition"?: boolean;
  "before:transition-name"?: string;
  "after:disable-transition"?: boolean;
  "after:transition-name"?: string;
} & (
  | { "next-href"?: undefined; "next-label"?: undefined }
  | {
      "next-href": string;
      "next-label": string;
    }
);

const {
  class: className = "",
  "single:transition-name": singleTransitionName = "shell-arrow",
  "before:disable-transition": disableBeforeTransition = false,
  "after:disable-transition": disableAfterTransition = false,
  "before:transition-name": beforeTransitionName = "shell",
  "after:transition-name": afterTransitionName = "result",
  "next-href": nextHref,
  "next-label": nextLabel,
} = Astro.props;
---

<section class={`slide --embedded-code ${className}`} transition:name="slide">
  <div class="grid">
    <div class="left">
      <div>
        <slot name="embedded" />
      </div>
    </div>

    <div
      class="grid-item before"
      transition:name={beforeTransitionName}
      transition:animate={disableBeforeTransition ? "none" : "fade"}
    >
      <slot name="before" />
    </div>

    <div class="grid-item single">
      <slot name="single" transition:name={singleTransitionName}>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-6 self-center justify-self-center"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="m4.5 5.25 7.5 7.5 7.5-7.5m-15 6 7.5 7.5 7.5-7.5"></path>
        </svg>
      </slot>
    </div>

    <div
      class="grid-item after"
      transition:name={afterTransitionName}
      transition:animate={disableAfterTransition ? "none" : "fade"}
    >
      <slot name="after" />
    </div>
  </div>

  {
    nextHref ? (
      <footer
        class="absolute right-0 top-0 bottom-0 flex items-center"
        transition:name="next"
      >
        <a rel="next" href={nextHref} class="group">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            role="img"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"
            />
            <title>{nextLabel}</title>
          </svg>
        </a>
      </footer>
    ) : null
  }
</section>
