---
import { Image } from "astro:assets";

type Props = {
  src: ImageMetadata;
  class?: string;
  "cite-url"?: string;
  caption: string;
  author?: string;
  mode?: "cover" | "contain";
  "image-class"?: string;
} & (
  | { "next-href"?: undefined; "next-label"?: undefined }
  | {
      "next-href": string;
      "next-label": string;
    }
);

const {
  "cite-url": citeUrl,
  class: className = "",
  caption,
  author,
  src,
  "next-href": nextHref,
  "next-label": nextLabel,
  "image-class": imageClass = "",
  mode = "cover",
} = Astro.props;
---

<section class={`slide ${className} --image`} transition:name="slide">
  <figure transition:name="figure">
    <blockquote cite={citeUrl} transition:name="blockquote">
      <Image
        src={src}
        width={src.width}
        height={src.height}
        alt=""
        class={`${mode === "cover" ? "object-cover" : "object-contain"} ${imageClass}`}
        transition:name="image"
        layout="constrained"
        loading="eager"
      />
    </blockquote>
    <figcaption class="" transition:name="figcaption" transition:animate="fade">
      <span class="">
        {caption}
        {
          author ? (
            <span>
              By <cite>{author}</cite>.
            </span>
          ) : null
        }</span
      >
    </figcaption>
  </figure>

  {
    nextHref ? (
      <footer class="controls" transition:name="next">
        <a rel="next" href={nextHref} class="group">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            role="img"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3"
            />
            <title>{nextLabel}</title>
          </svg>
        </a>
      </footer>
    ) : null
  }
</section>
